.posts.fn-posts.fn-tagging
  - @posts.each do |post|
    .post.fn-post{ :data => { :dbid => post.id } }
      .wrapper
        .thumb.fn-more{ :style => "background-image: url(#{post.image})" }
          .info
            %b= post.source.name
            .tags
              -post.tags.each do |tag|
                .tag= tag.name
          %span.fn-taggable= post.title
        .fn-description.fn-taggable.secret
          .url
            %a{ :href => post.url, :target => '_blank' }= post.url
          %p= post.summary
        .actions
          %i.icon-chevron-sign-down.fn-more
          .pull-left
            %span.likes.fn-likecount= post.likes
            %i.icon-heart-empty.fn-like{ :data => { :remote => like_post_path(post, :format => :json ), :success => 'feed.posts.liked' } }
            %i.icon-heart.fn-dislike{ :data => { :remote => dislike_post_path(post, :format => :json ), :success => 'feed.posts.liked' } }
